%content__cursor-pointer{
    cursor:pointer;
}
%animation__body{
      transition-duration: 250ms;
      transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.main-content{
    display: block;
    background-image: linear-gradient(to right, #2f303a66 40%, #2f303a66 40%),
        url(../images/p10.jpg);
    background-size: cover;
    &__box{
        display: block;
    text-align: center;
    padding-top: 200px;
    padding-bottom: 280px;
    }
    &__header{
          display: flex;
    font-family: "Roboto";
    font-weight: 900;
    font-size: 44px;
    margin: auto;
    justify-content: space-around;
    text-transform: uppercase;
    color:$font-color-title;
    padding-bottom: 30px;
    letter-spacing:$letter-spacing-main-title;
    width: 696px;
    }
    &__button{
         font-family: "Roboto";
         line-height: 30px;
         font-weight: 700;
         font-size: 16px;
         color:$font-main-button-text;
         text-align: center;
         box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
         border-radius: 4px;
         border: none;
         padding: 10px 41px 10px 42px;
    }
    &__button:hover{
        @extend %content__cursor-pointer;
        @extend %animation__body;

    }
}