
.first-section{
    display: flex;
    justify-content: space-around;
    padding-top:94px;
     &__icon-list{
        display: flex;
        list-style:none;
        gap:30px;
     }
     &__icon-item{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 270px;
        height: 120px;
        border-radius: 4px;
        margin-bottom: 30px;
        background-color: $background-section-three;
     }
     &__icon-svg{
        width: 65px;
        height: 70px;
     }
}
.description-list{
    display: flex;
    list-style: none;
    justify-content: space-around;
    gap: 30px;
     &__title{
        font-weight: 700;
        font-size: 14px;
        line-height: 1.14;
     }
     &__text{
        font-size: 14px;
        line-height: 1.71;
        padding-top: 10px;
     }
}
.second-section{
    @include padding(94px);
    display: flex;
    justify-content: space-around;
    
     &__title{
        @extend %second__title;
        
     }
}
%second__title{
        font-family: "Roboto";
        font-weight: 700;
        font-size: 36px;
        line-height: 1.17;
        text-align: center;
        padding-bottom: 50px;
}

.second-section{
     &__list{
        display: flex;
        list-style: none;
        gap: 30px;
        justify-content: center;
     }
     &__item{
        position:relative;
     }
     &__item-label{
        font-weight: 500;
        font-size: 16px;
        line-height: 1.14;
     }
}
.second-section__item-label{
    @include position (absolute);
    bottom: 0;
    left:0;
    right:0;
    text-align: center;
    line-height: 16px;
    display: block;
    letter-spacing: $letter-spacing-all;
    color:$background-body;
    background: rgba(47, 48, 58, 0.8);
    text-transform: uppercase;
    padding:29px 90px;
    font-size: 14px;
}
.section-three{
    @include padding (94px);
    display: flex;
    justify-content: space-around;
    background-color: $background-section-three;
     &__title{
        @extend %second__title;
        display: block;
     }
}
.section-three__team-list{
        display: flex;
        list-style: none;
        justify-content: space-between;
}
.section-three{
     &__pictures{
        border: 1px solid #eeeeee;
        margin: 0px;
        padding-bottom: 30px;
        background: $background-body;
        box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
        0px 2px 1px rgba(0, 0, 0, 0.2);
        border-radius: 0px 0px 4px 4px;
     }
     &__pictures-name{
        font-weight: 500;
        font-size: 16px;
        color:$background-color-body;
        text-align: center;
        padding-top: 30px;
     }
     &__pictures-description{
        display:flex;
        margin-left: auto;
        margin-right: auto;
        justify-content: center;
        gap: 10px;
        width: 206px;
        padding-top: 16px;
        list-style: none;
     }  
}
.section-three-social{
     &__network-menu{
        display:flex;
        margin-left: auto;
        margin-right: auto;
        justify-content: center;
        gap: 10px;
        width: 206px;
        padding-top: 16px;
        list-style: none;
     }
}
.section-three-social__network-button-list{
    display: inline-flex;
    padding: 12px;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    fill:$color-icon;
     &:hover,
     &:focus,
     &:active{
        @extend %animation-body;
        @extend %cursor-pointer-body;
        background-color: $background-section;
        fill:$background-body;
     }
}
%cursor-pointer-body{
    cursor:pointer;
}
%animation-body{
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.fourth-section{
     &__title{
        @extend %second__title;
        display: block;
     }
}
.fourth-section-client{
    &__list{
        display: flex;
        list-style: none;
        gap: 30px;
        padding-bottom: 94px;
    }
    &__item{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 170px;
        height: 92px;
        border-radius: 4px;
        border:1px solid $color-icon;
        fill:$color-icon;
    }
    
}
.fourth-section-client{
     &__item:focus,
     &__item:hover{
        @extend %animation-body;
        @extend %cursor-pointer-body;
        fill:$background-section;
        border-color:$border-color-blue;
     }
}
.fifth-section{
     &__title{
        font-weight: 700;
        font-size: 14px;
        line-height: 1.14;
        letter-spacing: $letter-spacing-all;
        text-transform: uppercase;
        color:$color-title;
        margin:0;
     }
}
.fifth-section-socialmedia{
     &__list{
        display: inline-flex;
        padding-top: 20px;
        gap: 10px;
     }
     &__item{
        @include size (44px);
        display: inline-flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        background: rgba(255, 255, 255, 0.1);
     }
     &__item:focus,
     &__item:hover{
        @extend %animation-body;
        @extend %cursor-pointer-body;
        background-color:$background-section;
     }
     &__svg{
        fill:$color-socialmedia;
     }
}
