// colors
$white:#ffffff;
$black:#000000;
$blue:#2196f3;

// logo-colors
$logo-color-blue:#2196f3;
$logo-color-white:#ffffff;
$logo-color-black:#000000;

// header-color
$font-contact-link:#757575;
$color-hover:#2196f3;
$background-header-blue:#2196f3;

//main-content-color
$font-color-title:#ffffff;

//button-color
$font-main-button-text:#ffffff;
$font-portfolio-button-text:#000000;
$bacground-main-button:#2196f3;
$background-portfolio-button:#f5f4fa;

// body/footer color
$background-color-body:#212121;
$background-second-section:rgba(47, 48, 58, 0.8);
$background-section-three:#f5f4fa;
$background-footer:#2f303a;
$background-body:#ffff;
$background-section:#2196f3;
$footer-input:#2F303A;

// letter-spacing
$letter-spacing-main-title: 0.06em;
$letter-spacing-all: 0.03em;


// color-icon
$color-icon:#afb1b8;
$color-socialmedia:#ffffff;
$color-icon-modal:#212121;
$color-title:#ffffff;


// border-color
$border-eee:#eeeeee;
$border-ecec:#ececec;
$border-color-blue:#2196f3;

// modal
$background-modal:rgba(0, 0, 0, 0.2);
$background-modal:#ffffff;
$font-modal-title:#212121;
$font-modal-text:#757575;
$background-modal-color:#2196f3;
$link:#2196f3;
